@using StarWarsData.Models

@inherits StatiqRazorPage<Record>

<html lang="en">
    <head>
        <title>
            @Model.PageTitle
        </title>
    </head>
<body>
<div class="container">
    
    @{
        await Html.RenderPartialAsync("_Record.cshtml", Model);
    }
    
    @RenderBody()
</div>
    

</body>
</html>